@model IEnumerable<StackOverflowTags.Models.Item>

@{
    ViewBag.Title = "StackOverflowTags";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p id="feedback">
        <span>You've selected:</span> <span id="select-result">none</span>.
    </p>
    <ol id="selectable">
        @foreach(var item in Model)
        {
            <li class="ui-widget-content">@item.name</li>
        }
    </ol>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>